/BookInterface.class
/MovieInterface.class
/MusicCdInterface.class
/VideoGameInterface.class
/ItemInterface.class
/MovieAbtractClass.class
/BookAbstractClass.class
/MusicCdAbstract.class
/VideoGameAbstract.class
